<div class="rightAd">
  <%= google_ad(120, 240).html_safe %>
</div>
<div class="answer">
 <div class="photo">
   <%= link_to image_tag("/images/me.jpg", :size => "100x104"),
     "http://www.leecapps.com", :alt => "Me", 
     :title => "himself@leecapps.com" %>
    <p><%= link_to "Me", "http://www.leecapps.com" %></p>
  </div>
  <div class="answer-body">

    <p>whowoulddowhich.com lets you ask questions of the great philosophers
(those in the public domain; by some definition of "ask," "great," and
"philosopher") and easily share your favorite answers with others. You can try
the individual philosophers by clicking their portraits on the home page, or
quiz them all by choosing Hive Mind.</p> 
    
    <p>All texts are derived from public domain editions made available
    by <a href="http://www.gutenberg.org">Project Gutenberg</a>. I'm adding new
    works and new philosophers all the time.</p>

    <p>If you have questions, suggestions, WWDW-related concerns, filthy
    lucre I'd love to hear from you. Please contact me through my personal Web
    site:  <a href="http://www.leecapps.com">www.leecapps.com</a>. Or Twitter
    is good: <a href="http://twitter.com/jlcapps">@jlcapps</a> </p> 
  </div>
</div>
