<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag  'reset.css'%>
  <%= stylesheet_link_tag  'global.css'%>
  <%= javascript_include_tag 'rails.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="mainContainer">
  <div id="header">
    <h1>
      What Would 
      <span id="author-name" class="author-name">
        <%= @author_name ||= '_________' %>
      </span> Do?
    </h1>
    <div id="crest"><img src="/images/locke_sm.png" /></div>
    <ul id="nav">
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "About", about_url %></li>
    </ul>
  </div>
  <div id="mainContent">
    <%= yield %>
  </div>
</div>

</body>
</html>
